<form method="post" class="d-inline" action="{{ path('backend_transaction_expense_delete', {'id': expense.id}) }}"
      data-confirm-submit="true" data-confirm-message="{{ 'Are you sure you want to delete this expense?'|trans }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ expense.id) }}">
    <button class="btn btn-danger btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-trash"></i>
        </span>
    </button>
</form>
